{% extends "base.html" %}
{% block title %}Ask A Question{% endblock %}

{% block content %}

<div class="d-flex justify-content-center">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="page-header pt-4">
            <h1>Ask A Question</h1>
        </div>
        <hr>
        <p>
            {{ form.question.label }}: 
            {{ form.question(cols="60", rows="3", class="form-control")}}
        </p>
        <p>
            {{ form.experts.label }}:
            {{ form.experts(class="form-control") }}

        </p>
        <p>{{ form.submit(class="btn btn-primary") }}</p>
    </form>
</div>
{% endblock %}